@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@layer utilities {
  
  
    .image{
    animation: image .8s ease-in;
}


@keyframes image{
    0%{
        transform: translateX(120px) scale(.5);
        opacity: 0;
    }
   
    
    
    100%{
        transform: translateX();
        opacity: 1;
    }

}



.texte{
  animation: texte .8s ease-in;
}

@keyframes texte{
    0%{
        transform: translateX(-120px) scale(.6);
        opacity: 0;
    }
    
    
    100%{
        transform: translateX(0) scale(1);
        opacity: 1;
    }

}
}

.affiche{
    animation: affiche 1.2s ease-out forwards;
    background: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
}


@keyframes affiche{
0%{
        transform: translatey(-50px) ;
        opacity: 0;
    }
    25%{
        opacity: .3;
        transform: translatey(-5px)  ;
    }
    50%{
        transform: translatey(0px)  ;
        opacity: .6;
    }
    75%{
        transform: translatey(0px)  ;
        opacity: .85;
    }
    100%{
        transform: translatey(0px) ;
        opacity: 1;
    }

}


